html, body {
  max-width: 100%;
  overflow-x: hidden;
}

#result {
  font-size: 6em;
}

.bg-navy {
  background-color: navy;
}

.dice {
  font-size: 1.5em;
}

.input-group {
  margin-top: 20px;
}

.btn {
  width: 70%;
}

.input-group-prepend {
  width: 30%
}

select {
  width: 100%
}

